<div class="d-flex flex-column h-100">
  <div class="container-fluid my-auto">
    <div class="d-flex">
      <h1 class="title col-4 mx-auto align-self-center">
        FC Juniors Copa de Leche
      </h1>
      <img
        class="img-fluid pozito mx-auto"
        src="assets/imgs/pozo-1.png"
        alt="pozito"
      />
    </div>
    <br />
    <div class="d-flex">
      <button
        [routerLink]="['/complete-team']"
        class="w-50 mx-auto mt-5 btn btn-outline-light"
      >
        Ver jugadores
      </button>
    </div>
  </div>
</div>
